@import "includes/settings";

body
{
    background: url(../img/background__.jpg) fixed;
    background-size: 100% 100%;
}


.container
{
	max-width: $width;
}

.wr_form_login
{
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 70px;
}


/*Main*/

/*Form*/
.form_login
{
	width:550px;
	min-height: 285px;
	background-color: rgba(0,0,0,.5);


	// background: url(../img/background_.jpg) fixed no-repeat;
	// background-size: auto;
	// background-position: 0 225%;
	// border: 1px solid grey;
	border-radius: 10px;
	box-shadow: -4px -6px 8px 2px rgba(200, 200, 200, .5)
				, 8px 6px 12px rgba(200, 200, 200,.5);

	padding: 20px 30px;
	margin: 20px;

	img
	{
		width: 70px; height: 70px;
		margin-bottom: 20px;
	}
	
}

.inputData
{
	margin-left: 85px;
	margin-top: -90px;

	label
	{
		color: #FFF;
		font-size: 18px;
		text-shadow: -4px 4px 3px #666, 1px -1px 2px #000;
	}

	input
	{
		font-size: 18px;
	}

	button
	{
		font-size: 16px;

		margin: 10px 0; 
	}

	p
	{
		font-size: 16px;
		font-weight: 700;
		color: $yellow;
	}
}

/*End Form*/

/*End Main*/

/* Media for screen from 768 to 992 */
@media (max-width: 992px)
{
	
}
/* End Media for screen from 768 to 992 */
/* Media for screen from 481 to 768 */
@media (max-width: 768px)
{
	
}
/* End Media for screen from 481 to 768 */
/* Media for screen to 480 */
@media (max-width: 480px)
{
	
}
/* End Media for screen to 480 */

/*Zero Class*/
.width_zero
{
	width: 0;
}

.padding_zero
{
	padding: 0;
}

.margin_zero
{
	margin: 0;
}
/*End Zero Class*/